body
{background-color: black;
}
button
{
	border-radius: 85%;
	
	background-color: blue;
	color: white;
}
button:hover
{
	transition-duration: 0.5s;
	background-color: cyan;
	color: darkslategrey;
}
.grid-container {
	display: inline-grid;
	grid-auto-columns: 150px;
	grid-template-rows: 40px 25px 140px 140px 140px 140px 140px;
	background-color: green;
	
	padding: 15px 25px 15px 25px;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	
}
.grid-item
{
padding: 1px;
font-size: 120px;
cursor: pointer;
}
.box
{ background-color: black;
grid-column: 2/4;

}
.input
{grid-column: 1/4;

text-align: right;

}

.margin
{
	margin: 200px 750px;

}