body {
	background-color: DarkTurquoise;
}
button
{
	border-radius: 75%;
	
	background-color: blue;
	color: white;
}
button:hover
{
	transition-duration: 0.5s;
	background-color: cyan;
	color: darkslategrey;
}
.grid-container {
	display: inline-grid;
	grid-auto-columns: 60px;
	grid-auto-rows: 50px;
	background-color: green;
	padding: 15px;
	
}
.grid-item
{
padding: 2px
font-size: 50px
text-align: center
}
.item1
{grid-column: 1/4}

.center
{height: 200px;
position: relative;
}